* {margin: 0;padding: 0;list-style:none;}

.main-header {
    background-image: linear-gradient(0deg,#cc4380,#fb6c75);
}

.main-header .container{
    display: flex;
    padding: 20px;
    min-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.main-header .logo{
    width: 100px;
}
.main-header .logo img{
    width: 100%;
    vertical-align: middle;
    border-radius: 100%;
}
.main-header .main-nav:first-of-type{
    order: -1;
}
.main-header .main-nav a{
    text-decoration: none;
    padding: 5px 1em;
    color: #fff;
    position: relative;
    transform: translateY(0);
    transition: .3s;
    display: inline-block;

}
.main-header .main-nav a:hover{
    transform: translateY(-5px);
}

.main-header .main-nav a:after{
    content:"";
    position: absolute;
    left: 50%;
    right: 50%;
    /* height: 0; */
    bottom: -5px;
    border-bottom: 1px solid #fff;
    transition: .3s;
}

.main-header .main-nav a:hover:after{
    left: 0;
    right: 0;
}
